if SHIELD_COSMOS_LEFT

config ZMK_KEYBOARD_NAME
    default "cosmos_left"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    	default y
    
config USB
        default y

config ZMK_USB
    default y


endif

if SHIELD_COSMOS_RIGHT

config ZMK_KEYBOARD_NAME
    default "cosmos_right"

config USB
    default y

config ZMK_USB
    default y

endif

if SHIELD_COSMOS_LEFT || SHIELD_COSMOS_RIGHT

config ZMK_SPLIT
    default y

endif

